<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
</head>
<body>
    <h1>Welcome User</h1>

    <input id="startchat" type="hidden" data-roomid="<%= id %>"></input>
    <input type="text" id="username" placeholder="User Name">
    <input type="text" id="newmsg" placeholder="Message">
    <span id="typing">typing...</span>
    <button id="btn">Send</button>

    <ul id="msglist">
        <% for(let i=0; i < chats.length; i++) { %>
            <li><%= chats[i].user %> : <%= chats[i].content %></li>
        <% } %>
    </ul>
    
    <script src="/socket.io/socket.io.js"></script>

    <script>
        var socket = io();

        let btn = document.getElementById('btn');
        let spanTyping = document.getElementById('typing');
        spanTyping.style.display = 'none';
        let username = document.getElementById('username');
        let startchat = document.getElementById('startchat');
        let inputMsg = document.getElementById('newmsg');
        let msgList = document.getElementById('msglist');
        let receiverTypingId = null;
        let typingId = null;


        socket.emit('join_room', {
            roomid: startchat.getAttribute('data-roomid')
        })

        btn.onclick = function exce() {
                // client sending a message
            socket.emit('msg_send', {
                msg: inputMsg.value,
                username: username.value,
                roomid: startchat.getAttribute('data-roomid')
            })
        }

            // all clients have listner and it'll active they'll receive message
        socket.on('msg_rcvd', (data) => {
            let limsg = document.createElement('li');
            limsg.innerText = `${data.username}: ${data.msg}`;
            msgList.appendChild(limsg)
        });

        socket.on('someone_typing', (data) => {
            spanTyping.style.display = 'block';
            clearTimeout(receiverTypingId);
            receiverTypingId = setTimeout(() => {
                spanTyping.style.display = 'none';
            }, 1000); 
        })

        inputMsg.addEventListener('keypress', function(e){           
            socket.emit('typing',{
                roomid: startchat.getAttribute('data-roomid'),
            });
            clearTimeout(typingId);
            typingId = setTimeout(() => {
                spanTyping.style.display = 'none';
            }, 3000); 
        })

    </script>
</body>
</html>